body {
    background-color: #FAF4EF;
}
img, p, h1, h2, .divider {
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
img {
	display: block;
    padding: 15px 0px;
}
p {
	font-size: 18px;
	line-height: 1.4;
    font-family: "Crimson Text";
}
h1, h2 { 
    font-family: "Roboto";
    }
.divider {
    height: 2px;
    background-color: #da1818;
    margin-top: 10px;
    margin-bottom: 10px;
    }
#nameline {
    font-size: 14px;
    font-family: "PT Sans";
}
#barcharts {
    width: 100%;
    display: block;
    padding: 15px 0px;
    max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#chart-bar {
    width: 100%;
    display: block;
    padding: 15px 0px;
    max-width: 1000px;
    margin: 20px auto 10px auto;
	margin-left: auto;
	margin-right: auto;
}
.radar-kohli {
    display: block;
    width: 75%;
    max-width: 500px;
    margin: 20px auto 10px auto;
}
.radar-row {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    gap: 20px;
    margin-bottom: 7px;
}
.radar-small {
    width: 32%;        
    min-width: 220px;
    flex-shrink: 0;
}